@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600;700&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body {
    background-color:rgb(107, 97, 97);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background-color: #ffffff;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0,0,0,2);
}
.container .left_side {
    position: relative;
    background: #0326c4c2;
    padding: 50px;
}
.profileText {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255,255,255,1.5);
}
.profileText .imgBx {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}
.profileText .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profileText h2 {
    color: #fafafa;
    font-size: 20px;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 24px;
}
.profileText h2 span {
    font-size: 16px;
    font-weight: 400;
}
.contactInfo {
    padding-top: 40px;
}
.right_side :hover{
    background-color: rgb(243, 20, 187);
    transition: all 1.5s ease;
}
.left_side :hover{
    background-color: rgb(240, 158, 36);
    transition: all 1.5s ease;
}
.title {
    color: #fafafa;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.contactInfo ul {
    position: relative;

}
.contactInfo ul li {
    position: relative;
    list-style: none;
    margin:10px 0;
    cursor: pointer;
}
.contactInfo ul li .icon {
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: rgb(228, 3, 179);
}
.contactInfo ul li span {
    color: #fafafa;
    font-weight: 400;
}
.contactInfo .education li {
    margin-bottom: 15px;
}
.contactInfo.education li h5 {
    color: rgb(228, 3, 142);
    font-weight: 700;
}
.contactInfo.education li h4:nth-child(2) {
    color: #f3e631;
    font-weight: 600;
}
.contactInfo.education li h4 {
    color: #fafafa;
    font-weight: 400;
}
.contactInfo.Language .percent{
    position: relative;
    width: 100%;
    height: 6px;
    background-color: rgb(31, 30, 30);
    display: block;
    margin-top: 5px;
}
.contactInfo.Language .percent div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgb(247, 10, 148);
}
/*Right Side*/
.container .right_side {
    position: relative;
    background: rgb(186, 231, 222);
    padding: 40px;
}
.about {
    margin-bottom: 50px;
}
.about:last-child {
    margin-bottom: 0;
}
.about .title2 {
    color: #071169;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
.about p {
    color: #071169;
    font-weight: 600;
}
.about .box {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}
.about .box .year-company {
    min-width: 150px;
}
.about .box .year-company h5 {
    text-transform: uppercase;
    color: rgb(255, 0, 179);
    font-weight: 700;
}
.about .box .text h4 {
    text-transform: uppercase;
    color: crimson;
    font-size: 16px;
}
.skills .box {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-items: center;
}
.skills .box h4 {
    text-transform: uppercase;
    color: rgb(26, 11, 235);
    font-weight: 700;
}
.skills .box .percent {
    position: relative;
    width: 100%;
    height: 10px;
    background: rgb(122, 118, 118);
}
.skills .box .percent div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background:crimson;
}
.interest ul {
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.interest ul li {
    list-style: none;
    color: crimson;
    font-weight: 700;
    margin: 10px 0;
}
.interest ul li .fa {
    color: darkblue;
    font-size: 20px;
    width: 20px;
}
.img .img-interest {
    position: relative;
    text-align: center;
}
.img .img-interest img {
    margin: 100;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}
@media (max-width:1000px){
    .container{
        margin: 10px;
        grid-template-columns: repeat(1,1fr);
    }
    .interest ul {
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width:600px) {
    .about .box {
        flex-direction: column;
    }
    .about .box .year-company {
        margin-bottom: 5px;
    }
    .interest ul {
        grid-template-columns: repeat(1,1fr);
    }
    .skills .box {
            grid-template-columns: repeat(1,1fr);
    }
}